<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TeamInfo" type="GrabTask.IReadConfig, GrabTask" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="token" value="***"/>
    <add key="username" value="****"/>
    <add key="password" value="****"/>
    <add key="Interval" value="5"/>
  </appSettings>
  <TeamInfo>
    <add key="Sycee">sycee-me</add>
    <add key="Hirer Experience">hirer-me</add>
    <add key="Monstars">hirer-me</add>
    <add key="Phoenix">phoenix-api</add>
    <add key="Candidate Experience">candidate-me</add>
  </TeamInfo>
</configuration>